#book-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-card {
    border: 2px solid black;
    margin: 1px;
    padding: 0 1em;
    width: 150px;
}

#new-book-button {
    margin-top: 10px;
}

.remove-button {
    width: 75px;
    height: 20px;
    margin-bottom: 10px;
}